<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    {% csrf_token %}
    <input type="password" name="password" id="password">
    <input type="password" name="retype_password" id="retype">
    <input type="submit">
    <p id="dummy"></p>
</form>
<script>

    document.getElementById('retype').addEventListener('blur',function(){
    let password=document.getElementById('password').value
    let confirm=document.getElementById('retype').value
    if(password!==confirm){
    document.getElementById("dummy").innerHTML="password dosent match ";
    }
    else{
    document.getElementById("dummy").innerHTML=""
    }
    })

</script>
</body>
</html>